/* Add CSS Styling */
.odd {
  font-family: "Verdana", "Dejavu Sans", sans-serif;
  background-color: #ffa7a7;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

.bigger {
  font-size: 24px;
}

#four {
  background-color: #80ff80;
  font-weight: bold;
}
