/* Add CSS Styling */
.first,
.second {
  font-size: 28px;
  font-family: "Helveltica", "Times New Roman", sans-serif;
}

.first {
  color: white;
  background-color: black;
}

.second {
  background-color: yellow;
}

