* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  font-weight: 500;
  padding: 8px 12px;
}
